.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


* {
  /* border: 2px solid yellow; */
  border-radius: 5px;
}

nav {
  padding: 9px;
  background-color: #25242496;
}

ul {
  list-style: none;
}

li {
  margin: 10px;
  padding: 5px 0;
  text-align: center;
  background-color: #18192173;
}



body {
  background: rgb(63,94,251);
  background: linear-gradient(180deg, rgba(63,94,251,1) 15%, rgba(0,198,255,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  width: 90%;
}


.main-container {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: aliceblue;
  background-color: #2c4d6d;
  padding: 10px;
  border: 2px soid black;
  border-radius: 10px;
  margin-top: 4rem;

}

.budget-selector {
  padding: 5px;
  margin: 5px;
  background-color: darkturquoise;
}

.recharts-wrapper {
  background-color: #2b2f31a8;
  color: aliceblue;
}
.label-text {
    color: aliceblue;
}

.card{
  width: 18rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.card-body{
  background-color: mediumseagreen;
}

.page-not-found {
  padding: 3rem;
}

.flex-container {
    padding-top: 2rem;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
